spring:
  security:
    oauth2:
      client:
        registration:
          azure:
            client-id: ${AZURE_CLIENT_ID:}
            client-secret: ${AZURE_CLIENT_SECRET:}
            scope:
              - openid
              - profile
              - email
              - offline_access
            redirect-uri: "https://rational-louse-tannguyen-7d5807b1.koyeb.app/login/oauth2/code/azure"
            client-name: "Microsoft"
        provider:
          azure:
            issuer-uri: https://login.microsoftonline.com/${AZURE_TENANT_ID:}/v2.0
  datasource:
    url: jdbc:postgresql://
    username:
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false